[submodule "public"]
	path = public
	url = git@github.com:wiltonpaulo/wiltonpaulo.github.io.git
	branch = main
[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
